
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container ml-5 pl-5">
      <h2 class="text-center">Create New Account</h2>
      <form action="/signup" method="POST">
      <div class="form-group">

        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="enter name">
      </div>

      <div class="form-group">

        <label>Email address</label>
        <input type="email" class="form-control" name="Email" placeholder="enter email">
      </div>
      <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
      </div>
      <a href="/login">Already have an account? ?</a>
      <button type="submit" class="btn btn-primary float-right">signup</button>

      </form>
    </div>
  </div>
</div>
   

